<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Cull Panda</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {{#if admin}}
                        <li><a href="#dashboard">Dashboard</a></li>
                        <li><a href="#userAssesment">User Assesment</a></li>
                    {{/if}}
                    {{#if superAdmin}}
                        <li><a href="#user">User</a></li>
                    {{/if}}
                    {{#if user}}
                        <li><a href="#home">Home</a></li>
                    {{/if}}
                    <li><a href="#listSurvey">Survey</a></li>
                    <li><a href="#logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>