<div style="padding-top:50px;">
	<ul class="nav nav-tabs" id="userTabs">
		<li class="active"><a href="#createUser" data-toggle="tab">Create</a></li>
		<li><a href="#modifyuser" data-toggle="tab">Modify</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="createUser">
			<!--create user form start -->
			<form class="form-horizontal" id="userForm">
				<fieldset>
					<legend> Create new user</legend>
						<!-- Employee ID -->
						<div class="control-group">
							<label class="control-label" for="empid">Employee ID</label>
							<div class="controls">
								<input type="text" id="empid" name="empid"  class="input-small" placeholder="XXXXX" maxLength="5" />
								<span class="help-inline"></span>
							</div>
						</div>

						<!-- First Name -->
						<div class="control-group">
							<label class="control-label" for="firstname">First Name</label>
							<div class="controls">
								<input type="text" id="firstname" name="firstname" class="input-xlarge" placeholder="eg. Abc" />
								<span class="help-inline"></span>
							</div>
						</div>

						<!-- Last Name -->
						<div class="control-group">
							<label class="control-label" for="lastname">Last Name</label>
							<div class="controls">
								<input type="text" id="lastname" name="lastname" class="input-xlarge" placeholder="eg. Xyz" />
								<span class="help-inline"></span>
							</div>
						</div>

						<!-- Email -->
						<div class="control-group">
							<label class="control-label" for="email">Email</label>
							<div class="controls">
								<div class="input-append">
									<input class="span2 input-xlarge" id="email" name="email" type="text">
									<span class="add-on">@cybage.com</span>
								</div>
								<span class="help-inline"></span>
							</div>
						</div>

						<!-- Gender -->
						<div class="control-group">
							<label class="control-label" for="gender">Gender</label>
							<div class="controls">
								<label class="radio inline">
									<input type="radio" id="female" value="f" name="gender"> Female
								</label>
								<label class="radio inline">
									<input type="radio" id="male" value="m" name="gender"> Male
								</label>
							</div>
						</div>

						<!-- Designation -->
						<div class="control-group">
							<label class="control-label" for="designationid">Designation</label>
							<div class="controls">
								<select id="designationid" name="designationid" class="input-xlarge">
									{{#each designations}}
										<option value="{{id}}">{{name}}</option>
									{{/each}}
								</select>
								<span class="help-inline"></span>
							</div>
						</div>

						<!-- Status -->
						<div class="control-group">
							<label class="control-label" for="status">User status</label>
							<div class="controls">
								<label class="radio inline">
							  		<input type="radio" id="active" value="active" name="status"> Active
								</label>
								<label class="radio inline">
							  		<input type="radio" id="inactive" value="inactive" name="status"> In Active
								</label>
							</div>
						</div>

						<!-- Access Level -->
						<div class="control-group">
							<label class="control-label" for="accesslevel">Access Level</label>
							<div class="controls">
								<label class="radio inline">
									<input type="radio" id="accessSuperAdmin" value="accessSuperAdmin" name="accesslevel"> Super Admin
								</label>
								<label class="radio inline">
									<input type="radio" id="accessAdmin" value="accessAdmin" name="accesslevel"> Admin
								</label>
								<label class="radio inline">
									<input type="radio" id="accessUser" value="accessUser" name="accesslevel"> User
								</label>
							</div>
						</div>

						<div class="form-actions">
							<button type="submit" class="btn btn-primary" href="#" id="addUser"><i class="icon-user icon-white"></i> Create</button>
							<button type="button" class="btn" href="#" id="resetForm"><i class="icon-refresh"></i> Reset</button>
						</div>

					</fieldset>
				</form>
			<!--end of create user-->
		</div>
		<div class="tab-pane" id="modifyuser">
			<!--create user table starts here-->
			<h3> Users List</h3>
		</div>
	</div>
</div>