<div class="container-fluid">
	<div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav affix span2" style="width: 270px;">
            <ul class="nav nav-list">
              <li class="nav-header">Category</li>
              <li><a href="#">Eductaion</a></li>
              <li class="active"><a href="#">Sports</a></li>
              <li><a href="#">International</a></li>
              <li><a href="#">Politics</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>Loondri Survey</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullaint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
          <div class="row-fluid">
            <div class="span12 well well-large">
				<h4>Question 1</h4>
				<p>Who will win ashes?</p>
	            <label class="checkbox">
					<input type="checkbox" value="">
					Australia
				</label>
				<label class="checkbox">
					<input type="checkbox" value="">
					England
				</label>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span12 well well-large">
				<h4>Question 2</h4>
				<p>Who will win the next world cup?</p>
	            <label class="radio">
					<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						India
					</label>
					<label class="radio">
					<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
						Australia
				</label>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span12 well well-large">
				<h4>Question 3</h4>
				<p>Who would will win priemer league?</p>
	            <label class="checkbox">
					<input type="checkbox" value="">
					Manchester United
				</label>
				<label class="checkbox">
					<input type="checkbox" value="">
					Real Madrid
				</label>
				Other:<input type="text" placeholder="Text input">
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span12 well well-large">
				<h4>Question 4</h4>
				<p>Who is best batsman?</p>
	            <label class="checkbox">
					<input type="checkbox" value="">
					Sachin tendulkar
				</label>
				<label class="checkbox">
					<input type="checkbox" value="">
					Brain Lara
				</label>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span12 well well-large">
				<h4>Question 5</h4>
				<p>Who is the best bowler?</p>
	            <label class="checkbox">
					<input type="checkbox" value="">
					Glenn Megrath
				</label>
				<label class="checkbox">
					<input type="checkbox" value="">
					Murlidharan
				</label>
            </div><!--/span-->
          </div><!--/row-->
		</div><!--/row-->
		<div class="pagination pull-right">
			<ul>
				<li><a href="#">Prev</a></li>
				<li class="active"> <a href="#">1</a> </li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">Next</a></li>
			</ul>
		</div>
    </div><!--/span-->
</div><!--/row-->
