<form class="form-horizontal">

    <fieldset>
        <legend>User Login</legend>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
                <div class="input-append">
                        <input class="span2 input-xlarge" id="inputEmail" name="inputEmail" type="text">
                        <span class="add-on">@cybage.com</span>
                </div>
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
                <input class="input-xlarge" type="password" id="inputPassword" name="inputPassword" placeholder="Password">
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Sign in</button>
            <button type="button" class="btn">Forgot Password?</button>
        </div>
    </fieldset>
</form>
