<form class="form-horizontal">
    <fieldset>
        <legend>Category Details</legend>
        <div class="control-group">
            <label class="control-label" >Type of response</label>
            <div class="controls">
                <label class="radio inline">
                   <input type="radio" value="single" name="responseType"> Single choice
                </label>
                <label class="radio inline">
                   <input type="radio" value="multi" name="responseType"> Multiple choice
                </label>
                <label class="radio inline">
                   <input type="radio" value="other" name="responseType"> Other
                </label>
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="multiSelect">Select Category</label>
            <div class="controls">
                <div>
                    <select multiple="multiple" id="multiSelect" name="category">
                        <option value="Category1">Category1</option>
                        <option value="Category2">Category2</option>
                        <option value="Category3">Category3</option>
                        <option value="Category4">Category4</option>
                        <option value="Category5">Category5</option>
                    </select>
                    <span class="help-inline"></span>
                </div>
                <br/>
                <div class="btn-group">
                    <button class="btn" type="submit"><i class="icon-plus"></i>Create Category</button>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button class="btn">Cancel</button>
        </div>
    </fieldset>
</form>