<form class="form-horizontal">
    <fieldset>
        <legend>Category Details</legend>
        <div class="control-group">
            <label class="control-label" >Type of response</label>
            <div class="controls">
                <label class="radio inline">
                   <input type="radio" value="single" name="categorytype"> Single choice
                </label>
                <label class="radio inline">
                   <input type="radio" value="multi" name="categorytype"> Multiple choice
                </label>
                <label class="radio inline">
                   <input type="radio" value="other" name="categorytype"> Other
                </label>
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="multiSelect">Select Category</label>
            <div class="controls">
                <div>
                    <select id="multiSelect" name="categoryname" size="3">
                        {{#if noCategory}}
                            <option value="NA" selected="selected" disabled>NA</option>
                        {{else}}
                            <!-- Render option template -->
                            {{#if category}}
                                <option value="{{category}}" selected="selected">{{category}}</option>
                            {{/if}}
                        {{/if}}
                    </select>
                    <span class="help-inline"></span>
                </div>
                <br/>
                <div class="input-append">
                    <input class="span2" name="categoryInput" type="text">
                    <span class="add-on addCategory"><i class="icon-plus"></i>Create Category</span>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <!-- <button class="btn">Cancel</button> -->
        </div>
    </fieldset>
</form>