<form class="form-horizontal">
    <fieldset>
        <legend>Option Details</legend>
        <div class="control-group optionGroup">
            <label class="control-label" for="option1">Option1</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="option1" data-name="option" name="option1">
                <span class="help-inline"></span>
                <label class="checkbox">Correct
                   <input type="checkbox">
                </label>
                <p class="help-block">Add your options for question here</p>
            </div>
        </div>
        <div class="control-group optionGroup">
            <label class="control-label" for="option1">Option2</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="option2" data-name="option" name="option2">
                <div class="btn-group">
                    <button class="btn addOption"><span class="icon-plus"></span></button>
                </div>
                <label class="checkbox">Correct
                   <input type="checkbox">
                </label>
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button class="btn">Cancel</button>
        </div>
    </fieldset>
</form>