<form class="form-horizontal">
    <fieldset>
        <legend>Survey Details</legend>
        <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input type="text" class="input-xlarge title" id="title" name="title">
                <span class="help-inline"></span>
                <p class="help-block">This is the title for survey</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="startdate">Start Date</label>
            <div class="controls">
                <div class="input-append date"   data-date-format="yyyy-mm-dd">
                    <input type="text" class="input-xlarge" id="startdate" name="startdate" disabled>
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
                <span class="help-inline"></span>
                <p class="help-block">This is the start date for survey</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="enddate">End Date</label>
            <div class="controls">
                <div class="input-append date"   data-date-format="yyyy-mm-dd">
                    <input type="text" class="input-xlarge" id="enddate" name="enddate" disabled>
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
                <span class="help-inline"></span>
                <p class="help-block">This is the end date for survey</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="desc">Description</label>
            <div class="controls">
                <textarea id="desc" name="desc">
                </textarea>
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <!-- <button class="btn">Cancel</button> -->
        </div>
    </fieldset>
</form>