<div class="hero-unit">
    <h1>CONTACT PAGE</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <table id="MyGrid" class="table table-bordered datagrid">
        <thead>
            <tr>
                <th>
                    <span class="datagrid-header-title">Geographic Data Sample</span>                 
                        <div class="datagrid-header-left">
                            <div class="input-append search datagrid-search">
                                <input type="text" class="input-medium" placeholder="Search">
                                <button type="button" class="btn"><i class="icon-search"></i></button>
                            </div>
                        </div>
                    <div class="datagrid-header-right">
                        <div class="select filter" data-resize="auto">
                            <button type="button" data-toggle="dropdown" class="btn dropdown-toggle">
                                <span class="dropdown-label"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li data-value="all" data-selected="true"><a href="#">All</a></li>
                                <li data-value="lt5m"><a href="#">Population < 5M</a></li>
                                <li data-value="gte5m"><a href="#">Population >= 5M</a></li>
                            </ul>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody><tr><td style="width: 224px;">Mexico City</td><td style="width: 180px;">MX</td><td style="width: 235px;">12294193</td><td>capital of a political entity</td></tr><tr><td>Manila</td><td>PH</td><td>10444527</td><td>capital of a political entity</td></tr><tr><td>Dhaka</td><td>BD</td><td>10356500</td><td>capital of a political entity</td></tr><tr><td>Seoul</td><td>KR</td><td>10349312</td><td>capital of a political entity</td></tr><tr><td>Jakarta</td><td>ID</td><td>8540121</td><td>capital of a political entity</td></tr><tr><td>Tokyo</td><td>JP</td><td>8336599</td><td>capital of a political entity</td></tr><tr><td>Taipei</td><td>TW</td><td>7871900</td><td>capital of a political entity</td></tr><tr><td>Beijing</td><td>CN</td><td>7480601</td><td>capital of a political entity</td></tr><tr><td>Bogotá</td><td>CO</td><td>7102602</td><td>capital of a political entity</td></tr><tr><td>Hong Kong</td><td>HK</td><td>7012738</td><td>capital of a political entity</td></tr></tbody>
        <tfoot>
            <tr>
                <th>
                    <div class="datagrid-footer-left" style="display:none;">
                        <div class="grid-controls">
                            <span>
                                <span class="grid-start"></span> -
                                <span class="grid-end"></span> of
                                <span class="grid-count"></span>
                            </span>
                            <div class="select grid-pagesize" data-resize="auto">
                                <button type="button" data-toggle="dropdown" class="btn dropdown-toggle">
                                    <span class="dropdown-label"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li data-value="5" data-selected="true"><a href="#">5</a></li>
                                    <li data-value="10"><a href="#">10</a></li>
                                    <li data-value="20"><a href="#">20</a></li>
                                    <li data-value="50"><a href="#">50</a></li>
                                    <li data-value="100"><a href="#">100</a></li>
                                </ul>
                            </div>
                            <span>Per Page</span>
                        </div>
                    </div>
                    <div class="datagrid-footer-right" style="display:none;">
                        <div class="grid-pager">
                            <button type="button" class="btn grid-prevpage"><i class="icon-chevron-left"></i></button>
                            <span>Page</span>
                             
                            <div class="input-append dropdown combobox">
                                <input class="span1" type="text">
                                <button type="button" class="btn" data-toggle="dropdown"><i class="caret"></i></button>
                                <ul class="dropdown-menu"></ul>
                            </div>
                            <span>of <span class="grid-pages"></span></span>
                            <button type="button" class="btn grid-nextpage"><i class="icon-chevron-right"></i></button>
                        </div>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
</div>