<div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{#if question.questionid}}{{question.questionid}}{{else}}{{question.id}}{{/if}}">
        {{question.questionvalue}}
    </a>
</div>
<div id="collapse{{#if question.questionid}}{{question.questionid}}{{else}}{{question.id}}{{/if}}" class="accordion-body collapse">
    <div class="accordion-inner">
        <select name="category" size="3">
            {{#each category}}
                <option value="{{categoryid}}">{{categoryname}}</option>
            {{/each}}
        </select>
        <br/>
        <div class="btn-group">
        {{#unless noCategory}}
            <button class="btn newCategory"><i class="icon-plus"></i> Add Category</button>
        {{/unless}}
        <button class="btn updateCategory" disabled><i class="icon-pencil"></i> Update Category</button>
        <button class="btn deleteCategory" disabled><i class="icon-trash"></i> Delete Category</button>
        </div>
   </div>
</div>
