<div class="control-group optionGroup">
    <label class="control-label" for="option1">Option{{id}}</label>
    <div class="controls">
        <input type="text" class="input-xlarge" id="option{{id}}" data-name="option" name="option{{id}}">
        <div class="btn-group">
            <button class="btn removeOption"><span class="icon-minus"></span></button>
        </div>
        <label class="checkbox">Correct
           <input  name="answer{{id}}" type="checkbox">
        </label>
        <span class="help-inline"></span>
    </div>
</div>