<!-- <form class="form-horizontal">
    <div class="alert alert-error" style="display: none;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Ooops!</strong> You did not pass the validation.
    </div>
    <div class="alert alert-success" style="display: none;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> You passed the validation.
    </div>
    <fieldset>
        <legend>Create New Survey</legend>
        <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input type="text" class="input-xlarge title" id="title" name="title">
                <span class="help-inline"></span>
                <p class="help-block">This is the title for survey</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="welcomeMessage">Welcome Message</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="welcomeMessage" name="welcomeMessage">
                <span class="help-inline"></span>
                <p class="help-block">This is the welcome message for survey</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" >Type of survey</label>
            <div class="controls">
                <label class="radio inline">
                   <input type="radio" value="single" name="surveyType"> Single Option
                </label>
                <label class="radio inline">
                   <input type="radio" value="multi" name="surveyType"> Multiple Option
                </label>
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="question">Question</label>
            <div class="controls">
                <textarea id="question" name="question">
                </textarea>
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="creatorName">Creator Name</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="creatorName" name="creatorName">
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="startDate">Start Date</label>
            <div class="controls">
                <div class="input-append date"   data-date-format="dd-mm-yyyy">
                    <input type="text" class="input-xlarge" id="startDate" name="startDate">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
                <span class="help-inline"></span>
                <p class="help-block">This is the start date for survey</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="endDate">End Date</label>
            <div class="controls">
                <div class="input-append date"   data-date-format="dd-mm-yyyy">
                    <input type="text" class="input-xlarge" id="endDate" name="endDate">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
                <span class="help-inline"></span>
                <p class="help-block">This is the end date for survey</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="option1">Option1</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="option1" data-name="option" name="option1">
                <div class="btn-group">
                    <button class="btn addOption"><span class="icon-plus"></span></button>
                </div>
                <span class="help-inline"></span>
                <p class="help-block">Add your options for question here</p>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button class="btn">Cancel</button>
        </div>
    </fieldset>
</form> -->
<div class="fuelux">
    <div id="MyWizard" class="wizard">
        <ul class="steps">
            <li data-target="#step1" class="active"><span class="badge badge-info">1</span>Step 1<span class="chevron"></span></li>
            <li data-target="#step2"><span class="badge">2</span>Step 2<span class="chevron"></span></li>
            <li data-target="#step3"><span class="badge">3</span>Step 3<span class="chevron"></span></li>
            <li data-target="#step4"><span class="badge">4</span>Step 4<span class="chevron"></span></li>
        </ul>
        <div class="actions">
            <button type="button" class="btn btn-mini btn-prev"> <i class="icon-arrow-left"></i>Prev</button>
            <button type="button" class="btn btn-mini btn-next" data-last="Finish">Next<i class="icon-arrow-right"></i></button>
        </div>
    </div>
    <div class="step-content well">
        <div class="step-pane active" id="step1">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Survey Details</legend>
                    <div class="control-group">
                        <label class="control-label" for="title">Title</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge title" id="title" name="title">
                            <span class="help-inline"></span>
                            <p class="help-block">This is the title for survey</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="startDate">Start Date</label>
                        <div class="controls">
                            <div class="input-append date"   data-date-format="dd-mm-yyyy">
                                <input type="text" class="input-xlarge" id="startDate" name="startDate">
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                            <span class="help-inline"></span>
                            <p class="help-block">This is the start date for survey</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="endDate">End Date</label>
                        <div class="controls">
                            <div class="input-append date"   data-date-format="dd-mm-yyyy">
                                <input type="text" class="input-xlarge" id="endDate" name="endDate">
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                            <span class="help-inline"></span>
                            <p class="help-block">This is the end date for survey</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="description">Description</label>
                        <div class="controls">
                            <textarea id="description" name="description">
                            </textarea>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button class="btn">Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="step-pane" id="step2">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Question Details</legend>
                     <div class="control-group">
                        <label class="control-label" >Type Of Question</label>
                        <div class="controls">
                            <label class="radio inline">
                               <input type="radio" value="single" name="surveyType"> Single Option
                            </label>
                            <label class="radio inline">
                               <input type="radio" value="multi" name="surveyType"> Multiple Option
                            </label>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="question">Question</label>
                        <div class="controls">
                            <textarea id="question" name="question">
                            </textarea>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button class="btn">Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="step-pane" id="step3">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Category Details</legend>
                    <div class="control-group">
                        <label class="control-label" for="multiSelect">Select Category</label>
                        <div class="controls">
                            <div>
                                <select multiple="multiple" id="multiSelect">
                                    <option>Category1</option>
                                    <option>Category2</option>
                                    <option>Category3</option>
                                    <option>Category4</option>
                                    <option>Category5</option>
                                </select>
                            </div>
                            <br/>
                            <div class="btn-group">
                                <button class="btn" type="submit"><i class="icon-plus"></i>Create Category</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button class="btn">Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="step-pane" id="step4">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Option Details</legend>
                    <div class="control-group">
                        <label class="control-label" for="option1">Option1</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="option1" data-name="option" name="option1">
                            <div class="btn-group">
                                <button class="btn addOption"><span class="icon-plus"></span></button>
                            </div>
                            <span class="help-inline"></span>
                            <p class="help-block">Add your options for question here</p>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button class="btn">Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>