<div class="fuelux">
    <div id="surveyWizard" class="wizard">
        <ul class="steps">
            <li data-target="#surveyDetails"><span class="badge">1</span>Survey<span class="chevron"></span></li>
            <li data-target="#questionDetails"><span class="badge">2</span>Question<span class="chevron"></span></li>
            <li data-target="#categoryDetails"><span class="badge">3</span>Categories<span class="chevron"></span></li>
            <li data-target="#optionDetails"><span class="badge">4</span>Options<span class="chevron"></span></li>
        </ul>
        <div class="actions">
            <button type="button" class="btn btn-mini btn-prev"> <i class="icon-arrow-left"></i>Prev</button>
            <button type="button" class="btn btn-mini btn-next" data-last="Finish">Next<i class="icon-arrow-right"></i></button>
        </div>
    </div>
    <div class="step-content well">
        <div class="step-pane" id="surveyDetails">
            <!-- surveyDetails View -->
        </div>
        <div class="step-pane" id="questionDetails">
            <!-- questionDetails View -->
        </div>
        <div class="step-pane" id="categoryDetails">
            <!-- categoryDetails View -->
        </div>
        <div class="step-pane" id="optionDetails">
            <!-- optionDetails View -->
        </div>
    </div>
</div>