<div class="questionList well well-mini">
    {{#if isAdmin}}
        <div class="controls clearfix">
            <a class="btn pull-right" href="#"><i class="icon-plus"></i>Add Question</a>
        </div>
    {{/if}}
    <h2>{{questions.title}}</h2>
    <p class="lead">
        {{questions.description}}
    </p>
    <h4>Questions:</h4>
    <div class="accordion" id="accordion">
    </div>
</div>

<!-- <a class="btn" data-toggle="modal" href="#surveyDetailedModal">Launch Modal</a>-->
<div class="modalContainer">
    <!-- Modal goes here -->
</div>


