<div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>{{#if isCategory}}{{#if category}}Update Category{{else}}Add New Category{{/if}}{{else}}Create New Question{{/if}}</h3>
</div>
<div class="modal-body">
    <div class="alert-container">
    </div>
    <div class="formContainer">
        <form class="form-horizontal">
                {{#unless isCategory}}
                <div class="control-group">
                    <label class="control-label" for="question">Question</label>
                    <div class="controls">
                        <textarea id="question" name="question">
                        </textarea>
                        <span class="help-inline"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >Type Of Question</label>
                    <div class="controls">
                        <label class="radio inline">
                           <input type="radio" value="category" name="questionType"> Category
                        </label>
                        <label class="radio inline">
                           <input type="radio" value="non-category" name="questionType"> Non-Category
                        </label>
                        <span class="help-inline"></span>
                    </div>
                </div>
                {{/unless}}
                <div class="control-group categoryGroup">
                    <label class="control-label" for="multiSelect">Select Category</label>
                    <div class="controls">
                        <div>
                            <select id="multiSelect" name="category" size="2">
                                {{#if category}}
                                    <option value="{{category}}">{{category}}</option>
                                {{/if}}
                            </select>
                            <span class="help-inline"></span>
                        </div>
                        <br/>
                        <div class="input-append">
                            <input class="span2" name="categoryInput" type="text">
                            {{#if category}}
                            <span class="add-on updateCategory">
                                <i class="icon-pencil"></i>Update Category
                            </span>
                            {{else}}
                            <span class="add-on addCategory">
                                <i class="icon-plus"></i>Create Category
                            </span>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >Type of response</label>
                    <div class="controls">
                        <label class="radio inline">
                           <input type="radio" value="single" name="responseType"> Single choice
                        </label>
                        <label class="radio inline">
                           <input type="radio" value="multi" name="responseType"> Multiple choice
                        </label>
                        <label class="radio inline">
                           <input type="radio" value="other" name="responseType"> Other
                        </label>
                        <span class="help-inline"></span>
                    </div>
                </div>
                <div class="control-group optionGroup">
                    <label class="control-label" for="option1">Option1</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="option1" data-name="option" name="option1">
                        <label class="checkbox">Correct
                            <input name="answer1" type="checkbox">
                        </label>
                        <span class="help-inline"></span>
                        <p class="help-block">Add your options for question here</p>
                    </div>
                </div>
                <div class="control-group optionGroup">
                    <label class="control-label" for="option1">Option2</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="option2" data-name="option" name="option2">
                        <div class="btn-group">
                            <button class="btn addOption"><span class="icon-plus"></span></button>
                        </div>
                        <label class="checkbox">Correct
                            <input name="answer2" type="checkbox">
                        </label>
                        <span class="help-inline"></span>
                    </div>
                </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a href="#" class="btn btn-primary save">Save changes</a>
    <a href="#" class="btn">Close</a>
</div>