<div class="questionList well well-mini">
   <!-- <div class="controls clearfix">
        <a class="btn pull-right" href="#"><i class="icon-plus"></i>Add sdsQuestion</a>
    </div>-->
    <h2>Survey Title</h2>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, quis, possimus maxime impedit eius minima cupiditate vero libero odio excepturi dolorem voluptas omnis quibusdam debitis harum fugit officia minus reprehenderit!
    </p>
    <h4>Questions:</h4>
    <div class="accordion" id="accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    Question value #1
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div id="mySelect" class="select btn-group" data-resize="auto">
                        <button type="button" data-toggle="dropdown" class="btn dropdown-toggle"><span class="dropdown-label" style="width: 68px;">Item One</span><span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li data-value="1"><a href="#">Item One</a></li>
                            <li data-value="2"><a href="#">Item Two</a></li>
                            <li data-value="3" data-fizz="buzz"><a href="#">Item Three</a></li>
                            <li class="divider"></li>
                            <li data-value="4"><a href="#">Item Four</a></li>
                        </ul>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, qui asperiores accusantium necessitatibus dignissimos saepe eaque at sequi. Quidem, officiis, eos repellendus natus magni nemo quisquam neque magnam expedita repudiandae?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, qui asperiores accusantium necessitatibus dignissimos saepe eaque at sequi. Quidem, officiis, eos repellendus natus magni nemo quisquam neque magnam expedita repudiandae?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, qui asperiores accusantium necessitatibus dignissimos saepe eaque at sequi. Quidem, officiis, eos repellendus natus magni nemo quisquam neque magnam expedita repudiandae?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, qui asperiores accusantium necessitatibus dignissimos saepe eaque at sequi. Quidem, officiis, eos repellendus natus magni nemo quisquam neque magnam expedita repudiandae?</p>

                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    Question value #2
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">

                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                   Question value #3
               </a>
           </div>
           <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner">

            </div>
        </div>
    </div>
</div>
</div>

<!-- <a class="btn" data-toggle="modal" href="#surveyDetailedModal">Launch Modal</a>-->
<div class="modalContainer">
    <!-- Modal goes here -->
</div>


