<form class="form-horizontal">
    <fieldset>
        <legend>Question Details</legend>
        <div class="control-group">
            <label class="control-label">Checkbox</label>
            <div class="controls">
               <label class="checkbox-inline">
                          <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
                      </label>
                      <label class="checkbox-inline">
                          <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
                      </label>
                      <label class="checkbox-inline">
                          <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
                      </label>
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="form-actions">
             <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </fieldset>
</form>