<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{#if question.questionid}}{{question.questionid}}{{else}}{{question.id}}{{/if}}">
            {{question.questionvalue}}
        </a>
    </div>
    <div id="collapse{{#if question.questionid}}{{question.questionid}}{{else}}{{question.id}}{{/if}}" class="accordion-body collapse">
        <div class="accordion-inner">
            {{#if noCategory}}
                {{#each category}}
                    <div data-id="{{categoryid}}" data-type="{{categorytype}}"  class="noCategory" style="display: none;">NA</div>
                {{/each}}
            {{else}}
            <div class="well well-mini">
                <p class="lead">
                    Categories:Select one to get the options.
                </p>
                <select name="category" class="category" size="3">
                    {{#each category}}
                        <option value="{{categoryid}}" data-type="{{categorytype}}" class="categoryId">{{categoryname}}</option>
                    {{/each}}
                </select>
            </div>
            {{/if}}
            <div class="userCategory">
                <!-- view to display options -->
            </div>
        </div>
    </div>
</div>