<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse">
            User Question value #1
        </a>
    </div>
    <div id="collapse" class="accordion-body collapse in">
        <div class="accordion-inner">
            <select name="category" id="category" size="3">
            {{#if noCategory}}
                <option value="NA" disabled>NA</option>
            {{else}}
                {{#each category}}
                    <option value="{{categoryid}}" type="{{categorytype}}" class="categoryId">{{categoryname}}</option>
                {{/each}}
            {{/if}}
            </select>
            <div class="userCategory">
                <!-- <div class="control-group optionGroup">
                    <div class="optionCategory">
                        Please Choose a category.
                    </div>
                    <div class="optionCategory" id="single" style="display:none">
                        <label class="control-label">Choose any one</label>
                        <div class="controls">
                            <label class="radio inline">
                                <input type="radio" value="category" name="questionType"> Category
                            </label>
                            <label class="radio inline">
                                <input type="radio" value="non-category" name="questionType"> Non-Category
                            </label>
                            <BR><br>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    <div class="optionCategory" id="multi" style="display:none">
                        <label class="control-label">Choose single/ multiple option</label>
                        <div class="controls">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
                            </label>
                            <BR>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    <div class="optionCategory" id="other" style="display:none">
                        <label class="control-label">Add description</label>
                        <div class="controls">
                            <input class="form-control" id="focusedInput" type="text" placeholder="Enter here">
                            <BR>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>