<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse">
            User Question value #1
        </a>
    </div>
    <div id="collapse" class="accordion-body collapse in">
        <div class="accordion-inner">
            {{#if noCategory}}
                {{#each category}}
                    <div data-id="{{categoryid}}" data-type="{{categorytype}}"  class="noCategory" style="display: none;">NA</div>
                {{/each}}
            </select>
            {{else}}
            <div class="well well-mini">
                <p class="lead">
                    Categories:
                </p>
                <select name="category" class="category" size="3">
                    {{#each category}}
                        <option value="{{categoryid}}" data-type="{{categorytype}}" class="categoryId">{{categoryname}}</option>
                    {{/each}}
                </select>
            </div>
            {{/if}}
            <div class="userCategory">
            </div>
        </div>
    </div>
</div>